* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #1F2937;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 78%;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    background-color: #1F2937;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.heroLeft {
    max-width: 500px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    padding-right: 4rem;
}

.hero, p, a{
    color: #E5E7EB;
    font-size: 18px;
}
 ul{
    display: flex;
    gap: 2em;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 12px 38px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
}

.informations {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 25rem;
    margin-top: 2rem;
}

.informations h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.cards {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 1rem);
    max-width: 300px;
    text-align: center;
}

.cardPlaceholder {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    box-shadow: #1F2937;
}

.card p{
    margin-top: 10px;
    line-height: 1;
    padding: 0 2.4rem;
    /* flex-wrap: wrap; */
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 2rem 0;
}

.article p {
    color: #1E2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.articleDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin-top: 4rem;

}

.articleDetails span {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}